.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.background {
  height: 100%;
  width: 100%;
  background-image: url("https://download.hipwallpaper.com/desktop/1536/864/14/4/fBCWJa.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 1;
  right: 0;
  position: absolute;
  z-index: -1;   
}